/*
 * App CUSTOM theme SCSS
 * ----------------------------------------------------------------------------
 * Place here custom styles.
 */

/*
 * Light Theme
 * -------------------------------------------
 */
html {
    .custom-box {
        background-color: #f0f0f0; /* Light grey background color */
        border-radius: 10px; /* Rounded corners */
        padding: 10px; /* Add padding to create space inside the box */
        margin: 10px; /* Add margin to create space outside the box */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add shadow effect */
    }
}

/*
 * Dark Theme
 * -------------------------------------------
 */
html.dark {

}
